<!-- Html to insert a search box -->
<div class="boa-box">
    <h2>Buscador en BoA</h2>
    <div data-control="errors-box"></div>
    <input data-control="search-text" class="mr-sm-12" placeholder="Buscar" type="text">
    <button data-control="search-button" class="btn btn-secondary my-12 my-sm-0" type="button">Buscar</button>
    <div data-control="show-one"></div>
    <div data-control="search-result" class="col-12" style="display: none;">
        <div class="boa-content"></div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Ver más</button>
    </div>
</div>

<!-- Templates, required in the page -->
<script id="boa-tpl-item" type="text/x-jQuery-tmpl">
    <div class="one-item">
        <span class="thumb-box" boa-href="${about}" title="${metadata.general.title.none}" style="background-image: url(${about}.img?s=128)"></span>
        <h5 class="title" boa-href="${about}">${metadata.general.title.none}</h5>
        <span class="desc mcore-text">${metadata.general.description.none}</span><br />
        <span class="meta mcore-text">
            <span class="badge badge-dark"><i class="fa fa-comment"></i> ${social.comments} Comentario</span>
            <span class="badge badge-success"><i class="fa fa-heart"></i>{{if social.score.sum || social.score.count}} ${social.score.sum}/${social.score.count} {{else}} 0 {{/if}} Le gusta</span>
            <span class="badge badge-info"><i class="fa fa-eye"></i> ${social.views} Vistas</span>
        </span>
    </div>
</script>

<script id="boa-tpl-video-item-full" type="text/x-jQuery-tmpl">
    <div class="video-item-full item-full" boa-about="${about}">
        <div class="card-body video-fillwidth">
            <video controls poster="${about}.img">
                <source src="${finaluri}" type="${metadata.technical.format}">
                El reproductor de video no es soportado por el navegador
            </video>
            <div class="row justify-content-between">
                <div class="btn-group likegroup" role="group" aria-label="Acciones">
                    <button type="button" class="btn btn-secondary btn-outline-success" boa-action="like"><i class="fa fa-heart"></i></button>
                    <button type="button" class="btn btn-secondary btn-outline-warning" boa-action="dislike"><i class="fa fa-heart-o"></i></button>
                </div>
                <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="button" class="btn btn-secondary" boa-action="open"><i class="fa fa-external-link"></i></button>
                </div>
            </div>
            <div class="row">
                <h5 class="card-subtitle mt-2 mb-2">${metadata.general.title.none}</h5>
                <p class="card-text">${metadata.general.description.none}</p>
                <span class="meta mcore-text">
                    <span class="badge badge-dark"><i class="fa fa-comment"></i> ${social.comments} Comentario</span>
                    <span class="badge badge-success"><i class="fa fa-heart"></i>{{if social.score.sum || social.score.count}} ${social.score.sum}/${social.score.count} {{else}} 0 {{/if}} Le gusta</span>
                    <span class="badge badge-info"><i class="fa fa-eye"></i> ${social.views} Vistas</span>
                </span>
            </div>
            <hr />
            <div class="row comments-box">
                <div class="alert alert-dismissible alert-success"></div>
                <div class="list-group comments-list w-100"></div>
            </div>
            <div class="row">
                <form class="comments-form">
                    <h3>Escriba un comentario</h3>
                    <div class="form-group">
                        <textarea class="form-control" name="content" placeholder="Comentarios" maxlength="511"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar comentario</button>
                </form>
            </div>
        </div>
    </div>
</script>

<script id="boa-tpl-audio-item-full" type="text/x-jQuery-tmpl">
    <div class="audio-item-full item-full" boa-about="${about}">
        <div class="card-body video-fillwidth">
            <img src="${about}.img?s=256" title="${metadata.general.title.none}" />
            <audio controls>
                <source src="${finaluri}" type="${metadata.technical.format}">
                El reproductor de audio no es soportado por el navegador
            </audio>
            <div class="row justify-content-between">
                <div class="btn-group likegroup" role="group" aria-label="Acciones">
                    <button type="button" class="btn btn-secondary btn-outline-success" boa-action="like"><i class="fa fa-heart"></i></button>
                    <button type="button" class="btn btn-secondary btn-outline-warning" boa-action="dislike"><i class="fa fa-heart-o"></i></button>
                </div>
                <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="button" class="btn btn-secondary" boa-action="open"><i class="fa fa-external-link"></i></button>
                </div>
            </div>
            <div class="row">
                <h5 class="card-subtitle mt-2 mb-2">${metadata.general.title.none}</h5>
                <p class="card-text">${metadata.general.description.none}</p>
                <span class="meta mcore-text">
                    <span class="badge badge-dark"><i class="fa fa-comment"></i> ${social.comments} Comentario</span>
                    <span class="badge badge-success"><i class="fa fa-heart"></i> {{if social.score.sum || social.score.count}} ${social.score.sum}/${social.score.count} {{else}} 0 {{/if}} Le gusta</span>
                    <span class="badge badge-info"><i class="fa fa-eye"></i> ${social.views} Vistas</span>
                </span>
            </div>
            <hr />
            <div class="row comments-box">
                <div class="alert alert-dismissible alert-success"></div>
                <div class="list-group comments-list w-100"></div>
            </div>
            <div class="row">
                <form class="comments-form">
                    <h3>Escriba un comentario</h3>
                    <div class="form-group">
                        <textarea class="form-control" name="content" placeholder="Comentarios" maxlength="511"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar comentario</button>
                </form>
            </div>
        </div>
    </div>
</script>

<script id="boa-tpl-error-item" type="text/x-jQuery-tmpl">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>${message}</p>
        <div>${info}</div>
    </div>
</script>

<script id="boa-tpl-comments-item" type="text/x-jQuery-tmpl">
    <span class="list-group-item list-group-item-action flex-column align-items-start w-100">
        <div class="d-flex w-100">
            <h5 class="mb-1">${name}</h5>
        </div>
        <small>${ago}</small>
        <p class="mb-1">${content}</p>
    </span>
</script>

<!-- Include styles and scripts -->
<link href="css/styles.css" rel="stylesheet" type="text/css">
<script src="components/tmpl/jquery.tmpl.min.js"></script>
<script src="js/boamoodle.js"></script>
